<th:block th:fragment="article">

    <div class="row">

        <div class="col s12 m12 l8">
            <!--/* 热门的文章 */-->
            <div class="col s12">
                <h4 class="header">热门的文章</h4>
                <div class="card horizontal" style="height: 175px;">
                    <div class="card-image hide-on-small-only">
                        <img style="max-height: 175px;" class="responsive-img" src="/img/page/000222.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="blue-text text-darken-2">这是一个文章的标题</span>
                            <p>am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card horizontal" style="height: 175px;">
                    <div class="card-image hide-on-small-only">
                        <img style="max-height: 175px;" class="responsive-img" src="/img/page/000222.jpg">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="blue-text text-darken-2">这是一个文章的标题</span>
                            <p>am a very simple card. I am good at containing small bits of information.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l4">
            <!--/* 最新的文章 */-->
            <div class="col s12">
                <h4 class="header">最新的文章</h4>
                <div class="card horizontal" style="height: 130px;">
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="blue-text text-darken-2">
                                <a href="#!">这是一个文章的标题</a>
                            </span>
                            <p>文章内容摘要</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card horizontal" style="height: 130px;">
                    <div class="card-stacked">
                        <div class="card-content">
                            <span class="blue-text text-darken-2">这是一个文章的标题</span>
                            <p>文章内容摘要</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</th:block>