<th:block th:fragment="footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">啦啦啦 关于这个网站的一些信息</h5>
                    <p class="grey-text text-lighten-4">
                        这个网站使用的是Java的技术。<br> 使用Spring Boot 来进行的构建。<br> 2018年4月7日，已经进行了多次的代码重构，才看到现在的这个页面。
                        <br> 设想是在2017年10月份就有了，并且写了几个基于纯Servlet的DEMO。
                        <br> 距离现在已经很长时间了。<br>
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">链接与感谢</h5>
                    <ul>
                        <li><a class="blue-text text-darken-4" href="http://materializecss.com/">Materialize框架</a>
                            <p>一款基于 Material Design 的现代响应式前端框架。</p>
                        </li>
                        <li><a class="blue-text text-darken-4" href="https://steamcommunity.com/id/Neptune-Noire/">Steam 社区</a>
                            <p>在设计用户个人资料页时，参考了Steam社区的设计。这个链接是我的个人主页哦</p>
                        </li>
                        <li><a class="blue-text text-darken-4" href="/test/">Spring系列框架及相关技术背后默默付出的人们</a>
                            <p>使用了Spring系列框架，感谢其中参与的所有人。没有他们，这个页面是不可能诞生的。</p>
                        </li>
                        <li><a class="blue-text text-darken-4" href="#!">关于我</a>
                            <p>使用了Spring系列框架，感谢其中参与的所有人。没有他们，这个页面是不可能诞生的。</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017-2018
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
</th:block>