<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:text="${anime_name} + '-的详细情报'">动画的名字</title>

    <!-- Bootstrap -->
    <link href="/file/css/runtime/materialize.min.css" rel="stylesheet" />
    <link href="/file/css/runtime/000.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="/file/js/runtime/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/file/js/runtime/materialize.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ========================================================================= -->
    <div class="fixed-action-btn click-to-toggle">
        <a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
        <ul>
            <li>
                <a href="#!" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页">
                    <img src="/img/000222.jpg" alt="" class="circle responsive-img" />
                </a>
            </li>
            <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">add</i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">backup</i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">apps</i></a></li>
        </ul>
    </div>

    <!-- ====================================================================== -->
    <header style="height: 300px;position: relative;width: 100%;">
        <div class="card large" style="position: absolute;z-index: -999;margin-top: 0px;width: 100%;">
            <div class="card-image" style="width: 100%;position:relative;">
                <img class="responsive-img" alt="" th:src="@{${anime_pic}}" />
                <h1 class="card-title" style="font-size: 30px;" th:text="${anime_name}">少女革命</h1>
            </div>
        </div>
    </header>
    <!-- ============================================================================ -->
    <input type="hidden" th:value="${anime_id}" id="inputofanimeid" />
    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <ul class="collection with-header">
                    <li class="collection-item"><img class="responsive-img" alt="" th:src="@{${anime_pic}}" /></li>
                    <li class="collection-header">
                        <h4 th:text="${anime_name}">动画名</h4><br/>
                        <div class="row">
                            <div class="col s6"><a class="waves-effect waves-teal btn-flat col s12" href="#!">编辑</a></div>
                            <div class="col s6"><a class="waves-effect waves-teal btn-flat col s12" id="addbangumitouser" th:unless="${isdingyue} == 'true'">订阅</a></div>
                            <div class="col s6"><a class="waves-effect waves-teal btn-flat col s12" th:unless="${isdingyue} != 'true'">已定阅</a></div>
                        </div>
                    </li>
                    <li class="collection-item" th:text="'集数：' + ${anime_number}"></li>
                    <li class="collection-item" th:text="'类型：' + ${anime_class}"></li>
                    <li class="collection-item" th:unless="${anime_info_daoyan} == null or ${anime_info_daoyan} == ''" th:text="'监督：' + ${anime_info_daoyan}"></li>
                    <li class="collection-item" th:unless="${anime_info_music} == null or ${anime_info_music} == ''" th:text="'音乐：' + ${anime_info_music}"></li>
                    <li class="collection-item" th:unless="${anime_info_de} == null or ${anime_info_de} == ''" th:text="'角色设计：' + ${anime_info_de}"></li>
                    <li class="collection-item" th:unless="${anime_info_pic} == null or ${anime_info_pic} == ''" th:text="'作画监督：' + ${anime_info_pic}"></li>
                    <li class="collection-item" th:unless="${anime_info_anime} == null or ${anime_info_anime} == ''" th:text="'制作公司：' + ${anime_info_anime}"></li>
                    <li class="collection-item" th:unless="${anime_info_site} == null or ${anime_info_site} == ''" th:text="'网站：' + ${anime_info_site}"></li>
                    <li class="collection-item" th:unless="${anime_info_data} == null or ${anime_info_data} == ''" th:text="'放送日期：' + ${anime_info_data}"></li>
                    <li class="collection-item" th:unless="${anime_info_from} == null or ${anime_info_from} == ''" th:text="'原作：' + ${anime_info_from}"></li>
                    <li class="collection-item" th:unless="${anime_info_op} == null or ${anime_info_op} == ''" th:text="'片头曲：' + ${anime_info_op}"></li>
                    <li class="collection-item" th:unless="${anime_info_opsonger} == null or ${anime_info_opsonger} == ''" th:text="'OP演唱者：' + ${anime_info_opsonger}"></li>
                    <li class="collection-item" th:unless="${anime_info_ed} == null or ${anime_info_ed} == ''" th:text="'片尾曲：' + ${anime_info_ed}"></li>
                    <li class="collection-item" th:unless="${anime_info_edsonger} == null or ${anime_info_edsonger} == ''" th:text="'ED演唱者：' + ${anime_info_edsonger}"></li>
                </ul>
            </div>
            <div class="col s12 m9">
                <div>
                    <ul class="collection with-header">
                        <li class="collection-header">
                            <h4>剧情简介</h4>
                        </li>
                        <li class="collection-item">
                            <p th:text="${anime_info}">剧情</p>
                        </li>
                        <li class="collection-header">
                            <h4>剧集</h4>
                        </li>
                        <li class="collection-item">
                            <div class="row">
                                <div class="col s2" th:each="i : ${#numbers.sequence(1, anime_number)}">
                                    <a th:href="@{/bangumi/{animeid}/{animenumber}(animeid=${anime_id},animenumber=${i})}" th:text="'第' + ${i} + '集'" th:class="(${i} == ${watchednumber})?('waves-effect waves-light btn pink darken-1 col s12'):('waves-effect waves-light btn orange darken-3 col s12')"></a>
                                </div>
                            </div>
                        </li>
                        <li class="collection-header">
                            <h4>标签</h4>
                        </li>
                        <li class="collection-item">
                            <p th:text="${anime_info}">标签</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/file/js/bangumi_js.js"></script>
    <script type='text/javascript' src="/file/js/bangumi_js_unsignin.js" th:unless="${isSign_in} == 'true'"></script>
    <script type='text/javascript' src="/file/js/bangumi_js_signin.js" th:unless="${isSign_in} == 'false'"></script>
    <!-- ============================================================================ -->

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">啦啦啦</h5>
                    <p class="grey-text text-lighten-4">一个个人做的小破站。使用了点有趣的技术。<br/> 2017年11月14日
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">小链接</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">界面</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">link</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

</body>

</html>