<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title th:text="编辑">网页标题</title>

    <link href="/file/css/runtime/materialize.min.css" rel="stylesheet" />
    <link href="/file/css/runtime/000.css" rel="stylesheet" />
    <script type="text/javascript" src="/file/js/runtime/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/file/js/runtime/materialize.min.js"></script>
</head>

<body>
    <div class="container">
        <!-- 对用户信息进行编辑的表单 -->
        <div class="row">
            <div class="col s12 m6 input-field">
                <input type="text" name="" id="asd" />
                <label for="asd"></label>
            </div>
            <div class="col s12 m6 input-field">
                <input type="password" name="" id="sdf" />
                <label for="sdf"></label>
            </div>
            <div class="col s12 m6">
                <button class="btn">确定</button>
            </div>
            <div class="col s12 m6">
                <button class="btn">返回</button>
            </div>
        </div>
    </div>
</body>

</html>