@charset "UTF-8";
.bg {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	min-width: 480px;
	/*max-width:480px;*/
	z-index: -10;
	background-position: center 0;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	zoom: 1;
}