<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>添加番剧数据</title>

    <link href="/file/css/runtime/materialize.min.css" rel="stylesheet" />
    <link href="/file/css/runtime/000.css" rel="stylesheet" />
    <script type="text/javascript" src="/file/js/runtime/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/file/js/runtime/materialize.min.js"></script>

</head>

<body>
    <header>
        <div class=" blue darken-1">
            <br/><br/><br/><br/><br/><br/><br/><br/><br/>
            <div class="row">
                <div class="col m1"></div>
                <div class="col s12 m11">
                    <h1 style="color: #ffffff">添加番组数据</h1>
                </div>
            </div>
        </div>
    </header>
    <!-- 动画表单的主体 -->
    <div class="container">
        <div class="row">
            <div class="col m2"></div>
            <div class="col m8 s12">
                <div class="row">
                    <form th:action="@{/id/{url}/addbangumi(url=${url})}" class="col s12" method="POST">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="animename" type="text" name="anime_name" />
                                <label for="animename">动画名</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="animenumber" type="text" name="anime_number" />
                                <label for="animenumber">动画集数</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <label>动画类型</label>
                                <select class="browser-default" name="anime_class">
                                    <optgroup label="动画">
                                    <option value="TV动画">TV动画</option>
                                    <option value="剧场版">剧场版</option>
                                    <option value="OVA动画">OVA动画</option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" class="datepicker" />
                                <label for="number">放送日期</label>
                                <script type="text/javascript">
                                    $('.datepicker').pickadate({
                                        selectMonths: true, // Creates a dropdown to control month
                                        monthsFull: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                        monthsShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                                        weekdaysFull: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                                        weekdaysShort: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                                        format: 'yyyy-mm-dd',
                                        min: [1960, 01, 01],
                                        max: 730,
                                        selectYears: 200, // Creates a dropdown of 15 years to control year,
                                        today: '选择今天',
                                        clear: '清除',
                                        close: '确定',
                                        closeOnSelect: false // Close upon selecting a date,
                                    });
                                </script>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                                <label for="icon_prefix2">剧情简介</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="icon_prefix3" class="materialize-textarea"></textarea>
                                <label for="icon_prefix3">备注信息</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s6">
                                <button class="waves-effect waves-light btn red darken-3 col s12" type="submit">提交数据</button>
                            </div>
                            <div class="col s6">
                                <button type="reset" class="waves-effect waves-light btn blue darken-1 col s12">清除数据</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col m2"></div>
        </div>
    </div>
</body>

</html>