<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link href="" rel=""/>
    <title>番剧列表</title>
</head>
<body>
    <!-- 番组动画头部 -->
    <header>
        <div class="">

        </div>
    </header>
    <!-- 身体部位 -->
    <div class="row">
        <div class="col s12 m2"></div>
        <!-- 动画的列表 -->
        <div class="col s12 m8">

        </div>
        <div class="col s12 m2"></div>
    </div>

    <!-- js代码大合集 -->
    <script type='text/javascript' src=""></script>
</body>
</html>