<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${userinfo.username} + 的个人主页">网页标题</title>

    <link href="/file/css/runtime/materialize.min.css" rel="stylesheet" />
    <link href="/file/css/runtime/000.css" rel="stylesheet" />
    <script type="text/javascript" src="/file/js/runtime/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/file/js/runtime/materialize.min.js"></script>
    <link href="/file/css/backimg.css" rel="stylesheet" />

</head>

<body>
    <header>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="/sign_out">退出登录</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">消息 <span>&nbsp;&nbsp;</span><span>4</span></a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Anime Memo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li th:unless="${logined} == 'true'"><a href="/sign_up">注册</a></li>
                    <li th:unless="${logined} == 'true'"><a class="waves-effect waves-light btn" href="/sign_in">登录</a></li>
                    <li th:unless="${logined} == 'false'"><a class='dropdown-button' href='#' data-activates='dropdown1'>个人中心操作<span class="new badge" data-badge-caption="条新信息">4</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- ======================================================================= -->
    <div class="container">
        <!-- 头像 -->
        <div class="row deep-orange" style="padding: 30px;">
            <div class="col s12 m3" style="max-height: 290px;max-width: 290px;">
                <img class="responsive-img" alt="" th:src="${userinfo.userpic}" />
            </div>
            <div class="col s12 m9">
                <div class="col s12 m7">
                    <h2 th:text="${userinfo.pageusername}">用户名</h2>
                    <p>自定义信息</p>
                </div>
                <div class="col s12 m5" style="padding-bottom: 20px;">
                    <div class="row pink lighten-4" th:unless="${userinfo.url} != 'look'">
                        <div class="col s12 m4" style="padding: 5px;">
                            <img class="responsive-img" alt="" src="/file/img/page/000222.jpg" />
                        </div>
                        <div class="col s12 m8">
                            <div>
                                <ul>站长荣耀</ul>
                                <ul>这位是站长哦</ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a style="width: 49%;" class="waves-effect waves-light btn" th:href="'/id/' + ${userinfo.url} + '/edit'" th:unless="${logined} == 'false' or ${isme} == 'false'">修改资料</a>
                        <a style="width: 49%;" class="waves-effect waves-light btn" th:unless="${isme} == 'true' or ${logined} == 'false'">发送消息</a>
                        <a style="width: 49%;" class='dropdown-button btn' href='#' data-activates='dropdown1' th:unless="${logined} == 'false'">更多选项</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- =============================这是3个动画所在处========================== -->
        <div class="row" style="background-color:rgba(255,255,255,0.8);">
            <div class="col s9 m9">
                <div class="row">
                    <div class="col s12 m6 l4" th:unless="${watchingKazu} == 0" th:each="watching,watchingStat:${watching}">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" th:src="@{${watching.anime_pic}}" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><span th:text="${watching.anime_name}">动画标题</span><i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><span th:text="${watching.anime_name}">动画标题</span><i class="material-icons right">close</i></span>
                                <p th:text="${watching.anime_info}">动画信息</p>
                            </div>

                            <div class="card-action">
                                <a th:href="@{/bangumi/{anime_id}(anime_id=${watching.anime_id})}">动画详情</a>
                                <a th:text="${watching.number} + '(已看)/' + ${watching.anime_number} + '(总)'" href="#!">这里显示看得集数</a>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${watchingKazu} > 0">
                        <div>
                            <p>空空的 0.0 该用户还没有订阅信息</p>
                        </div>
                    </div>
                </div>
                <!-- 看完的动画列表 -->
                <div class="row">
                    <div class="col s12 m6 l4" th:unless="${watchedKazu} == 0" th:each="watched,watchedStat:${watched}">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" th:src="@{${watched.anime_pic}}" />
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><span th:text="${watched.anime_name}">动画标题</span><i class="material-icons right">more_vert</i></span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><span th:text="${watched.anime_name}">动画标题</span><i class="material-icons right">close</i></span>
                                <p th:text="${watched.anime_info}">动画信息</p>
                            </div>

                            <div class="card-action">
                                <a th:href="@{/bangumi/{anime_id}(anime_id=${watched.anime_id})}">动画详情</a>
                                <a th:text="${watched.number} + '(已看)/' + ${watched.anime_number} + '(总)'" href="#!">这里显示看得集数</a>
                            </div>
                        </div>
                    </div>
                    <div th:unless="${watchedKazu} > 0">
                        <div>
                            <p>空空的 0.0 该用户还没有订阅信息</p>
                        </div>
                    </div>
                </div>
                <!-- =======================================留言=================================== -->
                <div class="row">
                    <hr/>
                    <div>
                        <!-- 用户留言的页码 -->
                        <div class="row">
                            <div class="col s12 m6">
                                <p style="padding: 10px;font-size: 20px;">留言 （暂时会发生500错误，暂时无法使用）</p>
                            </div>
                            <div class="col s12 m6">
                                <ul class="pagination">
                                    <li id="showinfo" class="waves-effect"></li>
                                    <li id="pagepre" class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                    <li id="pagenext" class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="home_comments">
                        <div class="col s12">
                            <div class="col s2">
                                <img src="" />
                            </div>
                            <div class="col s10">
                                <p>留言用户名</p>
                                <p>内容</p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!-- ======================================== -->
                    <div th:unless="${login} == 'false'">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s9">
                                    <i class="material-icons prefix">mode_edit</i>
                                    <textarea id="icon_prefix244" class="materialize-textarea"></textarea>
                                    <label for="icon_prefix2">First Name</label>
                                </div>
                                <div class="col s3">
                                    <button type="button" class="waves-effect waves-light btn" id="comments_go">留言</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <script type="text/javascript" src="/file/js/home_comm.js"></script>
                <!-- =======================================留言=================================== -->
            </div>
            <div class="col s3 m3">
                <div class="row">
                    <ul>
                        <li style="padding: 10px;">

                            <font size="5"><a th:href="@{/id/{url}/bangumi/watching(url=${userinfo.url})}">正在看的动画</a></font><span class="badge"><font size="20" th:text="${watchingKazu}">数量</font></span>
                        </li>
                        <li style="padding: 10px;">

                            <font size="5"><a th:href="@{/id/{url}/bangumi/watched(url=${userinfo.url})}">看过的动画</a></font><span class="badge"><font size="20" th:text="${watchedKazu}">11120</font></span>
                        </li>
                        <li style="padding: 10px;">

                            <font size="5"><a th:href="@{/id/{url}/bangumi/list(url=${userinfo.url})}">全部动画列表</a></font><span class="badge"><font size="20" th:text="${watchingKazu} + ${watchedKazu}">9999</font></span>
                        </li>
                    </ul>
                </div>
                <hr/>
                <div class="collection">
                    <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
                    <a href="#!" class="collection-item"><span class="badge">4</span>Alan</a>
                    <a href="#!" class="collection-item"><span class="badge">4</span>Alan</a>
                    <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ========================================================================= -->
    <div class="fixed-action-btn click-to-toggle">
        <a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
        <ul>
            <li>
                <a th:href="@{/id/{url}/(url=${userinfo.url})}" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页">
                    <img th:src="${userinfo.userpic}" alt="" class="circle responsive-img" />
                </a>
            </li>
            <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="添加记事"><i class="material-icons">add</i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">backup</i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">apps</i></a></li>
        </ul>
    </div>
    <!-- ========================================================================== -->

    <!-- ============================================================================ -->

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">啦啦啦</h5>
                    <p class="grey-text text-lighten-4">个人做的小站。使用了点有趣的技术。<br/> 2017年11月14日
                    </p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">小链接</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://materializecss.com/">界面</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">link</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>

    <div id="div_picdf" class="bg"></div>
    <input type="hidden" id="input_url" th:value="${userinfo.url}" />
    <script type="text/javascript" src="/file/js/home_backpic.js"></script>
</body>

</html>