<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${userinfo.username} + 的个人主页">网页标题</title>

    <link href="/file/css/runtime/materialize.min.css" rel="stylesheet" />
    <link href="/file/css/runtime/000.css" rel="stylesheet" />
    <script type="text/javascript" src="/file/js/runtime/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/file/js/runtime/materialize.min.js"></script>
    <link href="/file/css/backimg.css" rel="stylesheet" />
</head>

<body style="background-color: rgb(250, 166, 166);">
    <!-- =====================================上面的一欄========================================= -->

    <ul id="slide-out" class="side-nav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img th:src="${userinfo.userpic}" />
                </div>
                <a href="#!user"><img class="circle" th:src="${userinfo.userpic}" /></a>
                <a href="#!name"><span class="white-text name" th:text="${userinfo.pageusername}">Mirukk</span></a>
                <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect">我的番剧</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect" href="#!">我的追番<span class="badge">12</span></a></li>
                            <li><a class="waves-effect" href="#!">关注的番剧<span class="badge">12</span></a></li>
                            <li><a class="waves-effect" href="#!">动画列表<span class="badge">24</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect">消息<span class="new badge">16</span></a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a class="waves-effect" href="#!">留言<span class="new badge">12</span></a></li>
                            <li><a class="waves-effect" href="#!">离线信息<span class="new badge">4</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect">收藏<span class="badge">12</span></a>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header waves-effect">好友<span class="badge">12</span></a>
                </li>
            </ul>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <li><a class="collapsible-header waves-effect" href="#!">设置</a></li>
                </li>
            </ul>
        </li>

    </ul>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="#!" class="brand-logo center">Moe</a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large" id="side" style="padding: 7px;"><img class="responsive-img circle" style="max-height: 50px;" th:src="${userinfo.userpic}" /></a>
                <ul class="left hide-on-med-and-down">

                    <li><a href="#">首頁</a></li>
                    <li><a href="#">番剧</a></li>
                    <li><a href="#">Javascript</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect waves-light btn">登陆</a></li>
                    <li><a class="waves-effect waves-light btn">注册</a></li>
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown
                        <!-- <i class="material-icons right">arrow_drop_down</i> -->
                    </a></li>

                </ul>
            </div>
        </nav>
    </div>
    <!-- =====================================下面的圓形按鈕========================================= -->
    <div class="fixed-action-btn click-to-toggle">
        <a id="menu" class="btn btn-floating btn-large cyan pulse"><i class="material-icons">menu</i></a>
        <ul>
            <li>
                <a th:href="@{/id/{url}/(url=${userinfo.url})}" class="btn-floating btn-large waves-effect waves-light red tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页">
                    <img th:src="${userinfo.userpic}" alt="" class="circle responsive-img" />
                </a>
            </li>
            <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="添加记事"><i class="material-icons">add</i></a></li>
            <li><a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">backup</i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="个人主页"><i class="material-icons">apps</i></a></li>
        </ul>
    </div>
    <!-- =========================================================================================== -->
    <!-- ================================内容======================================================= -->
    <div class="container z-depth-5" style="background-color:rgba(255,255,255,0.9);">
        <div class="row">
            <div class="col s12">
                <div class="row" style="padding: 10px;">
                    <div class="col s12 z-depth-5" style="padding: 10px;background-color:rgba(255,255,255,0.9);">
                        <div class="row">
                            <div class="col" style="width: 160px;height: 160px;">
                                <img th:src="${userinfo.userpic}" width="150" height="150" />
                            </div>
                            <div class="col">
                                <h5 th:text="${userinfo.pageusername}">MiRukk</h5>
                                <a class="hide-on-med-and-up modal-trigger" href="#xiangxixinxi">详细资料</a>
                                <p class="hide-on-small-only" th:text="${userinfo.info}">大家好，我是贪玩蓝月</p>
                            </div>
                            <!-- 详细资料框 -->
                            <div id="xiangxixinxi" class="modal">
                                <div class="modal-content">
                                    <h4>信息</h4>
                                    <p th:text="${userinfo.info}">大家好，我是古天乐</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
                                </div>
                            </div>
                            <div class="col s5 right hide-on-small-only">
                                <div class="col s6">
                                    <a class="waves-effect waves-light btn col s12" href="#!">编辑</a>
                                </div>
                                <div class="col s6">
                                    <a class='dropdown-button btn col s12' href='#' data-activates='gengduo1'>更多</a>
                                </div>
                            </div>
                        </div>
                        <div class="row hide-on-med-and-up">
                            <div class="col s6">
                                <a class="waves-effect waves-light btn col s12" href="#!">编辑</a>
                            </div>
                            <div class="col s6">
                                <a class="waves-effect waves-light btn col s12" href="#!">编辑</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dropdown Structure -->
        <ul id='gengduo1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
        <!-- 上面是头像信息的显示 -->
        <div class="row">
            <div class="col s12 m6">
                <div class="row" style="padding: 5px;">
                    <div class="col s12 z-depth-5" style="background-color:rgba(255,255,255,0.9);">
                        <ul class="collection">
                            <li class="collection-item"><a th:href="@{/id/{url}/bangumi/watching(url=${userinfo.url})}">正在看的动画</a><span class="new badge red">4</span><span class="badge" data-badge-caption="部" th:text="${watchingKazu}">4</span></li>
                            <li class="collection-item"><a th:href="@{/id/{url}/bangumi/watched(url=${userinfo.url})}">看完的动画</a><span class="badge" data-badge-caption="部" th:text="${watchedKazu}">4</span></li>
                            <li class="collection-item"><a th:href="@{/id/{url}/bangumi/list(url=${userinfo.url})}">全部的动画</a><span class="badge" data-badge-caption="部" th:text="${watchingKazu} + ${watchedKazu}">4</span></li>
                            <li class="collection-item"><a href="#!">我的图片</a><span class="badge" data-badge-caption="张">24</span></li>
                            <li class="collection-item"><a href="#!">博文</a><span class="badge" data-badge-caption="篇">24</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="row" style="padding: 5px;">
                    <div class="col s12 z-depth-5 " style="background-color:rgba(255,255,255,0.9);">
                        数据统计<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 z-depth-5" style="background-color:rgba(255,255,255,0.9);">
                部分展示<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col s12 z-depth-5" style="background-color:rgba(255,255,255,0.9);">
                <div class="card small col s12 m6 l4 xl4" th:unless="${watchingKazu} == 0" th:each="watching,watchingStat:${watching}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" th:src="@{${watching.anime_pic}}" />
                    </div>
                    <div class="card-content">
                        <span th:text="${watching.anime_name}" class="card-title activator grey-text flow-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/bangumi/{anime_id}(anime_id=${watching.anime_id})}">动画详情</a>
                        <a th:text="${watching.number} + '(已看)/' + ${watching.anime_number} + '(总)'" href="#!">这里显示看得集数</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4" th:text="${watching.anime_name}">Card Title<i class="material-icons right">close</i></span>
                        <p th:text="${watching.anime_info}">Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div th:unless="${watchingKazu} > 0">
                <div>
                    <p>空空的 0.0 该用户还没有订阅信息</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 z-depth-5" style="background-color:rgba(255,255,255,0.9);">
                <div class="card small col s12 m6 l4 xl4" th:unless="${watchedKazu} == 0" th:each="watched,watchedStat:${watched}">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" th:src="@{${watched.anime_pic}}" />
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text flow-text text-darken-4" th:text="${watched.anime_name}">Card Title<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/bangumi/{anime_id}(anime_id=${watched.anime_id})}">动画详情</a>
                        <a th:text="${watched.number} + '(已看)/' + ${watched.anime_number} + '(总)'" href="#!">这里显示看得集数</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4" th:text="${watched.anime_name}">Card Title<i class="material-icons right">close</i></span>
                        <p th:text="${watched.anime_info}">Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div th:unless="${watchedKazu} > 0">
                <div>
                    <p>空空的 0.0 该用户还没有订阅信息</p>
                </div>
            </div>
        </div>
        <!-- =================留言板================================================= -->

        <div class="row" style="padding: 10px;">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <!-- <i class="material-icons prefix">mode_edit</i> -->
                        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2">First Name</label>
                    </div>
                    <div class="right" style="padding: 10px;">
                        <a class="waves-effect waves-light btn">留言</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- 留言内容 -->
        <div class="row" style="padding: 10px;">
            <table class="highlight centered">
                <tbody>
                    <tr>
                        <td colspan="3">
                            <ul class="pagination">
                                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="active"><a href="#!">1</a></li>
                                <li class="waves-effect"><a href="#!">2</a></li>
                                <li class="waves-effect"><a href="#!">3</a></li>
                                <li class="waves-effect"><a href="#!">4</a></li>
                                <li class="waves-effect"><a href="#!">5</a></li>
                                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 70px;">
                            <img src="file/img/page/000222.jpg" class="responsive-img circle" />
                            <a href="#!">Mirukk</a>
                        </td>
                        <td>
                            你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊w(ﾟДﾟ)w</td>
                        <td style="width: 50px;">
                            <a href="#!">回复</a>
                            <a href="#!">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 70px;">
                            <img src="file/img/page/000222.jpg" class="responsive-img circle" />
                            <a href="#!">Mirukk</a>
                        </td>
                        <td>
                            你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊w(ﾟДﾟ)w</td>
                        <td style="width: 50px;">
                            <a href="#!">回复</a>
                            <a href="#!">删除</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 70px;">
                            <img src="file/img/page/000222.jpg" class="responsive-img circle" />
                            <a href="#!">Mirukk</a>
                        </td>
                        <td>
                            你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊你好啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊啊w(ﾟДﾟ)w</td>
                        <td style="width: 50px;">
                            <a href="#!">回复</a>
                            <a href="#!">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>



    <!-- =================到尾了================================================= -->
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 - 2018
                <a class="grey-text text-lighten-4 right" href="#">返回到上面</a>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            $("#side").sideNav();
            $('.modal').modal();
            $('.sidenav').sidenav();
        })
    </script>
</body>

</html>