<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>用户注册 - AnimeMemo</title>

    <link href="/file/css/runtime/materialize.min.css" rel="stylesheet" />
    <link href="/file/css/runtime/000.css" rel="stylesheet" />
    <link href="/file/css/backimg.css" rel="stylesheet" />
    <script type="text/javascript" src="/file/js/runtime/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/file/js/runtime/materialize.min.js"></script>
</head>

<body>
    <!-- 背景 -->
    <div class="bg pink lighten-4"></div>
    <!-- 导航栏 -->
    <div>

    </div>
    <br/><br/><br/>
    <!-- 用户注册主体 -->
    <div class="row" id="sign_indiv" style="width: 300px;">
        <div class="col s12 z-depth-4 hoverable card-panel">
            <div class="input-field" style="padding: 10px;">
                <div class="row">
                    <div class="col s12 center input-field">
                        <h3>注册</h3>
                        <p class="center">现在就注册加入<br/>欢迎加入!</p>
                    </div>
                </div>
                <div class="input-field row">
                    <i class="material-icons small prefix">account_box</i>
                    <input type="text" name="username" id="username" />
                    <label for="username">用户名</label>
                </div>
                <div class="input-field row">
                    <i class="material-icons small prefix">fingerprint</i>
                    <input type="password" name="password" id="password" />
                    <label for="password">密码</label>
                </div>
                <div class="input-field row">
                    <i class="material-icons small prefix">fingerprint</i>
                    <input type="password" name="pass" id="pass" />
                    <label for="pass">确认密码</label>
                </div>
                <div class="input-field row">
                    <i class="material-icons small prefix">drafts</i>
                    <input type="email" name="email" id="email" />
                    <label for="email">邮箱</label>
                </div>
                <div class="input-field row">
                    <i class="material-icons small prefix">grade</i>
                    <input type="text" name="pageusername" id="pagename" />
                    <label for="pagename">昵称</label>
                </div>
                <div class="input-field row">
                    <i class="material-icons small prefix">favorite</i>
                    <input type="text" name="url" id="url" />
                    <label for="url">个人页面自定义URL</label>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn col s12 pink darken-3" type="button" id="sign_upbut"><b>立即注册</b></button>
                    </div>
                    <div class="input-field col s12">
                        <p class="center-align">已有帐号？<a href="/sign_in">登录</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script type='text/javascript' src='/file/js/sign_up.js'></script>
</body>

</html>