<!DOCTYPE html>
<html>

<head>
    <th:block th:replace="pats/head :: head">
        <!-- 引入头部文件 -->
    </th:block>

    <title th:text="|${title}的搜索结果 - lilys|">搜索结果</title>

</head>

<body>
    <div th:replace="pats/search :: searchbox"></div>
    <br/><br/>
    <div class="container">
        <div class="row">

            <!--/* 搜索结果 */-->
            <div th:replace="pats/search :: search"></div>

            <!--/* 分页 */-->

            <div th:replace="pats/search :: pagelist"></div>

        </div>
    </div>
</body>

</html>