<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>哦！不！发生了不可思议的事情</title>
</head>

<body style="background-color: black">
    <h1 style="color: aliceblue;">:( 错误代码：404</h1>
    <h3 style="color: aliceblue;">没有找到此网页，或者内部程序出现了错误</h3>
    <h4 style="color: aliceblue;">其实回到主页就可以解决这个问题 :)</h4>
    <h4 style="color: aliceblue;">当然，说明一下您遇到的问题也是不错的选择。</h4>
    <h5 style="color: aliceblue;"><a href="/" style="color: orange">回到主页</a></h5>
    <h5 style="color: aliceblue;">我要反馈问题！</h5>
    <form action="" method="POST">
        <h4 style="color: aliceblue">您可以详细描述您做的操作，您遇到的问题，我会第一时间解决。感谢您的反馈。提交之后您会返回首页:)祝您愉快:)</h4>
        <textarea></textarea>
        <input type="submit" value="提交反馈" />
    </form>
</body>

</html>