<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="pats/head :: head">
        <!-- 引入头部文件 -->
    </th:block>
    <link href="/css/mycss/backimg.css" rel="stylesheet">
    <title>用户登录</title>


</head>

<body>
    <div class="bg pink lighten-4"></div>
    <!-- 主体部分 -->
    <br/><br/><br/><br/><br/>
    <div class="row" style="width: 300px;">
        <div class="col s12 z-depth-4 hoverable card-panel">
            <form action="/sign_in" method="POST" id="sign_inform">
                <div class="input-field" style="padding: 10px;">
                    <div class="row">
                        <h3 class="center">登录</h3>
                        <p class="center">用户登录</p>
                    </div>
                    <div class="row input-field">
                        <i class="material-icons small prefix">account_box</i>
                        <input type="text" name="username" id="username" />
                        <label for="username">用户名</label>
                    </div>
                    <div class="row input-field">
                        <i class="material-icons small prefix">fingerprint</i>
                        <input type="password" name="password" id="password" />
                        <label for="password">密码</label>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button class="btn col s12 pink darken-3" id="sign_inbut">
                            <b>登录</b>
                        </button>
                        </div>
                        <div class="input-field col s12">
                            <p class="col s6 left-align">
                                未注册？<a href="/sign_up">注册</a>
                            </p>
                            <p class="col s6 right-align">
                                <a href="#modal1" class="modal-trigger">忘记密码？</a>
                            </p>
                            <p id="passworderror"></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 忘记密码弹窗 -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>忘记密码？</h4>
            <p>
                很抱歉，我没做这个功能。<br/> 如果您真的忘记密码了，没办法，重新注册个吧。
                <br/> 喂！这样太不负责了吧！
                <br/> 或者您可以输入用户名和注册邮箱，我把密码发给你好了。
                <br/>
            </p>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="findusername" />
                    <label for="findusername">用户名</label>
                </div>
                <div class="input-field col s12">
                    <input type="email" id="findemail" />
                    <label for="findemail">邮箱</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">需要更多信息证明你是你</label>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">关闭</a>
            <a id="sendinfo" class="modal-action modal-close waves-effect waves-green btn-flat red darken-1"><b style="color: #ffebee;">发送</b></a>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div th:replace="pats/footer :: footer">
        <!-- 页脚的布局 -->
    </div>
    <!-- js部分代码 -->
    <script type='text/javascript' src="/file/js/sign_in_js.js"></script>
</body>

</html>